/*
        Geral
        */
        body{
            margin: 0px;
            padding: 0px;
        }
        h1,h2,h3{
            margin: 0;
            
            
        }
    
        /*
        Navegacao
        */
        nav{
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #ffffff;
            position: fixed;
            width: 100%;
            padding: 0px;
        }
        nav>a{
            text-decoration: none;
            color: #318686;
            font-weight: 700;
            font-size: 28px;
            
            
        }
        nav ul{
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
        }
         nav  ul li{
             text-align: center;
             width: 100%;
         }
         nav ul li a{
             display: inline-block;
             padding: 1px ;
             width: 100%;
             text-decoration: none;
             color: black;
         }
         nav  ul  li:hover{
            background-color:#F4AC02;
            color: #ffffff;
         }
         nav  ul  li a:hover{
            color: #ffffff;
         }
         /*
         Cabecalho

         */
         header{
            background-image: url("Sol.jpg");
            color: #ffffff;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            flex-direction: column;
            align-items:left;
            text-align: letf;
            padding: 100px;

            

        }


        
        footer{
            background-color: #318686 ;
            color: #ffffff;
            text-align: center;
            align-items: center;
            padding: 30px;
        }
        hr{
            padding: 1px;
            background-color:#F4AC02;
        }
        h1,h2{
            color: #F4AC02;
        }

        #sobre{
            font-size: 14pt;
            flex-direction: column;
            text-align: left;
            align-items: center;
            padding: 0px 20px 20px;
            background-color: #ffffff;
            color: #000000;
        }

        #contato{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 20px;
        }
        #contato a{
            color: #318686;
            text-decoration: none;
        }
        #contato a:hover{
            color:#F4AC02;
            text-decoration: none;
        }
        section{
            transition: all .4s;
        }
        /*
         Media Queries

         */
         @media screen and (min-width: 1200px){
             /*
         Navgacao

         */
         nav{
             font: row;
             justify-content: space-around;
             
         }
         nav ul{
             flex-direction: row;
             width: 70%;
         }
         /*
         Cabecalho

         */
         header{
             height: 600px;
             height: 60vh;
             justify-content: center;



         }
         h1{
             font-size: 40pt;
         }
         #sobre{
             height: 250px;
             height: 30vh;
             
         }
         #contato{
             flex-direction: row;
             justify-content: space-around;
             flex-wrap: wrap;
             max-width: 500px;
             margin: 0 auto;

         }
         #contato h2,
         #contato p{
             width: 100%;
         }



         }
